$primary-color: #4B4EBD;
$secondary-color: #D6CFFF;
$light-gray: #e4e4e4;
$white: #FFFFFF;

$ROWS: 5;
$COLS: 7;
$cell-size: 150px;
$nav-height: 70px;

* {
   box-sizing: border-box;
}

html, body, #root, .App {
   padding: 0;
   margin: 0;
   width: 100%;
   height: 100%;
}

#layout-container {
   display: grid;
   height: 100%;
   width: 100%;
   grid-template-rows: $nav-height 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-areas: "nav nav nav"
                        "cal cal day"
                        "cal cal day";
}

nav {
   display: flex;
   grid-area: nav;
   width: 100%;
   background-color: $secondary-color;
}

#calendar {
   $margin: 20px;
   display: grid;
   grid-area: cal;
   height: calc(100% - $margin);
   width: 100%;
   gap: 1px;
   margin: $margin;
   grid-template-columns: repeat($COLS, 1fr);
   grid-template-rows: repeat($ROWS, 1fr);
   background-color: $light-gray;

   .cell {
      display: flex;
      flex-flow: column;
      padding: 6px;
      background-color: $white;

      .day-number {
         display: block;
         align-self: flex-end;
      }
   }
}